* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poopins",sans-serif;
    background-color: #FFF8EC;
    color: #2F6FED;
    line-height: 1.7;
    overflow-x: hidden;
}

h1, h2, h3, h4{
    font-family: "Poopins", sans-serif;
    color: #FFF8EC;
    line-height: 1.2;
}

main {
    display: block;
    width: 100%;
}

section {
    width: 100%;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

section:not(#bukutamu) {
    padding: 80px 40px;
    border-bottom: 1px solid #2F6FED;
    max-width: 1000px;
    margin: auto;
}

section h2 {
    color: #2F6FED;
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #2F6FED;
    border-bottom: 2px solid #FFF8EC;
    backdrop-filter: blur(10px);
}

header h1 {
    font-size: 1.5rem;
    color: #FFF8EC;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #FFF8EC;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #fafafa78;
}

#home {
    background: linear-gradient(to top, #FFF8EC, #FFF8EC);
    justify-content: center; 
}

.home-content {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.home-text {
    flex: 1;
    max-width: 600px;
    order: 2;
}

.home-text h4 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2F6FED;
}

.home-text h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.home-text p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #4B5563; 
}

#home a {
    display: inline-block;
    padding: 14px 32px;
    text-decoration: none;
    background: #2F6FED;
    color: white;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(12, 14, 25, 0.5);
}

#home .btn:hover {
    transform: translateY(-3px);
}

.home-image {
    text-align: center;
    order: 1;
}

.home-image img {
    width: 350px;
    height: 350px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10% 25%;
    border: 5px solid #2F6FED;
}
#about {
    background-color: #FFF8EC;
}

#about p {
    max-width: 1000px;
    margin: 0 auto 20px;
    text-align: justify;
    text-indent: 2em;
    font-size: 1.1rem;
    color: #4B5563;
}
