* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poopins",sans-serif;
    background-color: #FFF8EC;
    color: #2F6FED;
    line-height: 1.7;
    overflow-x: hidden;
}

h1, h2, h3, h4{
    font-family: "Poopins", sans-serif;
    color: #FFF8EC;
    line-height: 1.2;
}

main {
    display: block;
    width: 100%;
}

section {
    width: 100%;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

